.FAQs {
  /* display: flex;
  justify-content: center; */
  /* display: block; */
  /* width: 80%; */
  /* text-align: center; */
  /* margin: 0 auto; */
  /* margin: 0 7.5% 0 5%; */
  /* padding: 0 10% 0 0%; */
}

.accordion {
  /* max-width: 500px; */
  /* margin: 0 auto; */
}

.accordion__item {
  padding: 0;
}

.accordion__body {
  background-color: var(--my-green);
  color: var(--my-white);
}