/* span .typed-cursor {
  opacity: 0;
} */

.typed-stocks h1 {
  font-size: 30px;
}

.typed-background {
  /* background-color: white; */
}

#typed {
  display: inline-block;
  color: var(--my-orange);
}